<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Editing <% task.title %></title>
</head>
<body class="body-index2">
    <%- include('../partials/_navbar.ejs') %>
   
    <div class="edit-task-body">
        <div class="edit-task-header">
    <h1>Edit Task </h1>
    <form action="/users/<%= user._id %>/tasks/<%= task._id %>?_method=PUT" method="POST">
        <button class="update-task" type="submit">Update Task</button>
    </div>
    <div class="task-edit">
    <label for="title">Task Title:</label>
    <input 
    type="text"
    name="title"
    id="title"
    value="<%= task.title%>"/>

    <label for="date">Date:</label>
    <input 
    type="date" 
    name="date"
    id="date"
    value="<%=task.date%>"/>

    <label for="details">Details:</label>
        <textarea 
        name="details" 
        id="details"><%=task.details%></textarea>
       

        <label for="priority">Priority?</label>
        <input 
        type="checkbox" 
        name="priority" 
        id="priority" <%if (task.priority){%>checked<%} %> >
        </div>

</form>
</div>
</body>
</html>