<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Your Tasks</title>
</head>
<body class="body-index2">
    <%- include('../partials/_navbar.ejs') %>
    <!-- <a href="/auth/sign-out">Sign Out</a> -->
    <div class="all-tasks-body">
        <div class="all-tasks-header">
    <h1>TODAY'S TASKS!</h1>

    <a href="/users/<%=user._id%>/tasks/new">Add New Task</a>
        </div>
    <ul>
        <%tasks.forEach((task)=>{%>
        <li>
            <a href="/users/<%= user._id%>/tasks/<%= task._id%>">
                <%= task.title%> - <%= task.date%>
            </a>
        </li>

       <% })%>
    </ul>
</div>
</body>
</html>