<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Tasks</title>
</head>
<body>
    <h1>DAILY PLANNER</h1>
    <h2>Tasks for the day!</h2>

    <a href="/users/<%=user._id%>/tasks/new">Add New Task</a>

    <ul>
        <%tasks.forEach((task)=>{%>
        <li>
            <a href="/users/<%= user._id%>/tasks/<%= task._id%>">
                <%= task.title%> - <%= task.date%>
            </a>
        </li>

       <% })%>
    </ul>
</body>
</html>