<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><% task.title %></title>
</head>
<body class="body-index2">
    <%- include('../partials/_navbar.ejs') %>
    <div class="show-body">
    <div class="show-header">
    <h1><%= task.title%> - <%=task.date%></h1>

    <div class="delete-update-button">
    <% if (task.details) { %>

        <a class="edit-task"href="/users/<%= user._id %>/tasks/<%= task._id %>/edit">
            Edit Task
        </a>
        
        <form
        action="/users/<%= user._id %>/tasks/<%= task._id %>?_method=DELETE"
        method="POST"
        >
        <button class="delete-task" type="submit">Delete Task</button>
    </div>
    </div>
    <p>Details: <%= task.details %></p>
    <% } %>
</div>
 </form>
</body>
</html>