<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><% task.title %></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= task.title%> - <%=task.date%></h1>
    <% if (task.details) { %>
        <p>Details: <%= task.details %></p>
        <% } %>
    
           <!-- UPDATE APP -->
    <a href="/users/<%= user._id %>/tasks/<%= task._id %>/edit">
        Edit Task
      </a>
  
      <!-- DELETE APP -->
      <form
      action="/users/<%= user._id %>/tasks/<%= task._id %>?_method=DELETE"
      method="POST"
      >
        <button type="submit">Delete Task</button>
 </form>
</body>
</html>